<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="ExperienceEdge.IncludeDependencyAncestors" value="false"/>
      <setting name="Publishing.DeepScanRelatedItems" value="false" patch:instead="\*[@value='true']"/>
    </settings>

    <scheduling>
      <agent type="Sitecore.Tasks.PublishAgent" name="customPublishAgent" method="Run" interval="00:15:00">
        <param desc="source database">master</param>
        <param desc="target database">edge</param>
        <param desc="mode (full or incremental)">incremental</param>
        <param desc="languages">en</param>
      </agent>

    </scheduling>
  </sitecore>
</configuration>